@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('reset.css');

body {
  margin: 0;
  font-family: "Chivo", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

/*******************************************************************************

                              Form

*******************************************************************************/

h1 {
  font-weight: 700;
}

.todo-form {
  margin-top: 80px;
}

.form-items {
  align-items: center;
  display: flex;
}

button {
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease;
  border: none;
  height: 40px;
  width: 70px;
  line-height: 40px;
  justify-content: center;
}

.form-btn:hover {
  background-color: #0400ff;
}

input[type="text"] {
  height: 40px;
  width: 400px;
  margin-right: 15px;
  border-radius: 5px; 
  padding-left: 10px;
  font-weight: 600;
  border: 1px solid black;
}

ul {
  list-style: none;
}


/*******************************************************************************

                              To Do List Items

*******************************************************************************/

.todo-box{
  display: flex;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  margin-top: 8px;
  align-items: center;
}

input[type='checkbox'] {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 5px;
  cursor: pointer;
  accent-color: #008000;
  margin-left: 10px;
}

.todo-text {
  width: 80%;
  margin: 0 8px;
}

.todo-icons {
  display: flex;
  margin-right: 5px;
}

.icon {
  position: right;
  height: 24px;
  width: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.save {
  margin-top: 8px;
}

.trash {
  color: #808080;
  background-color: #ffffff;
}

.trash:hover {
  color: #5a5a5a;
}

.edit {
  color: #0000ff;
  background-color: #ffffff;
}

.edit:hover {
  color: #0000b3;
}



